.item {
  border: 1px solid rgb(31 41 55 / var(--tw-border-opacity));
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 18.5625rem;
  height: 29.875rem;
  cursor: pointer;
  background: #fff;
  display: flex;
  align-items: flex-end;
}

.info {
  background: #374151;
  padding: 2rem;
}

.title {
  color: #a6adbb;
  margin-bottom: 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: bold;
  text-align: left;
}
.text {
  color: #a6adbb;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}
