.cardClick {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 0.5rem;
}

.cardBtn {
  display: inline-flex;
  flex-shrink: 0;
  cursor: pointer;
  user-select: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 0.5rem;
  height: 3rem;
  font-size: 0.875rem;
  background: #661ae6;
  padding: 0px 16px;
  color: #fff;
  border: none;
  font-weight: bold;
}

.cardBtn:hover {
  background-color: hsl(262.35 80.315% 40.157%);
}

.cardBag {
  margin-left: 0.25rem;
  display: inline-flex;
  flex-shrink: 0;
  cursor: pointer;
  user-select: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 0.5rem;
  height: 3rem;
  font-size: 0.875rem;
  background: inherit;
  padding: 0px 16px;
  border: 1px solid #a6adbb;
  font-weight: bold;
}

.cardBag:hover {
  background-color: hsl(220 13.376% 69.216%);
  color: hsl(220 17.647% 20%);
}
