.footerContainer {
  background: #242933;
  display: grid;
  grid-auto-flow: column;
  grid-auto-flow: row dense;
  text-align: center;
  height: 18rem;
  padding: 2.5rem;
  place-items: center;
}

.link {
  cursor: pointer;
  text-decoration-line: none;
  color: inherit;
  text-decoration: inherit;
  font-size: 0.875rem;
}

.linkGrid {
  gap: 1rem;
}

.cardContainer {
  display: flex;
  gap: 0.5rem;
}
.iconContainer {
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
}

.fillCurrent {
  fill: currentColor;
}

.copy {
  font-size: 0.875rem;
}
