.window {
  width: 100vw;
  height: 43.75rem;
  overflow: hidden;
}

.flexbox {
  display: flex;
  height: 100%;
}

.slideImg {
  flex: 0 0 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
