/* .custom-dots {
  position: absolute;
  bottom: -15px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.custom-dots li {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.custom-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 40px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.custom-dots li button:before {
  font-family: 'slick';
  font-size: 2rem;
  line-height: 20px;
  position: absolute;
  top: 10px;
  left: 20px;
  width: 20px;
  height: 20px;
  content: '*';
  text-align: center;
  opacity: 0.9;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.custom-dots li.slick-active button:before {
  opacity: 1;
  color: #ffffff;
  content: '*';
} */

/* .rightArrow {
  display: flex;
  justify-content: right;
  background: none;
  border: none;
  color: blue;
  font-weight: bold;
  font-size: 30px;
  padding: 0px;
}
.leftArrow {
  display: flex;
  background: none;
  border: none;
  color: blue;
  font-weight: bold;
  font-size: 30px;
  padding: 0px;
}

.carouselImg {
  width: 100vw;
  height: 700px;
} */

.window {
  width: 100vw;
  height: 43.75rem;
  overflow: hidden;
}

.flexbox {
  display: flex;
  height: 100%;
}

.slideImg {
  flex: 0 0 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.previousButton,
.nextButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.previousButton {
  margin-right: 10px;
}

.nextButton {
  margin-left: 10px;
}
