body {
  background: #fff;
}

.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
}

#root {
  display: flex;
  justify-content: center;
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem; */
}

.body {
  height: 2742px;
  min-height: calc(100vh - 4rem - 224px);
  background: #2a2f3a;
}
